
<form method="post" action="#" class="contact-form">
    <div class="row">
        <div class="col span-1-of-3">
            <label for="quantity">Quantity</label>
        </div>

        <div class="col span-2-of-3">
            <input type="text" name="quantity" id="quantity" placeholder="quantity of to convert" required>
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3">
            <label for="source currency">Source Currency</label>
        </div>

        <div class="col span-2-of-3">
            <input type="text" name="source currency" id="source currency" placeholder="currency to be converted" required>
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3">
            <label for="target currency">Target Currency</label>
        </div>

        <div class="col span-2-of-3">
            <input type="text" name="target currency" id="target currency" placeholder="convert to this currency" required>
        </div>
    </div>
    <input type="submit" value="Submit">
</form>