<form method="post" action="#" class="contact-form">
    <div class="row">
        <div class="col span-1-of-3">
            <label for="quantities">Quantities</label>
        </div>

        <div class="col span-2-of-3">
            <input type="text" name="quantities" id="quantities" placeholder="quantities of currencies to to convert" required>
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3">
            <label for="sources">Source Currency</label>
        </div>

        <div class="col span-2-of-3">
            <input type="text" name="sources" id="sources" placeholder="currencies to be converted" required>
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3">
            <label for="targets">Target Currency</label>
        </div>

        <div class="col span-2-of-3">
            <input type="text" name="targets" id="targets" placeholder="convert to these currencies" required>
        </div>
    </div>
    <input type="submit" value="Submit">
</form>